<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>manuArr</key>
		<array>
			<dict>
				<key>id</key>
				<string>98</string>
				<key>name</key>
				<string>三星</string>
			</dict>
			<dict>
				<key>id</key>
				<string>1795</string>
				<key>name</key>
				<string>vivo</string>
			</dict>
			<dict>
				<key>id</key>
				<string>613</string>
				<key>name</key>
				<string>华为</string>
			</dict>
		</array>
		<key>name</key>
		<string>手机</string>
		<key>proNum</key>
		<string>1742</string>
		<key>src</key>
		<string>http://icon.zol-img.com.cn/android/icons/cate/57.png</string>
		<key>subId</key>
		<string>57</string>
		<key>type</key>
		<string>subcate</string>
	</dict>
	<dict>
		<key>manuArr</key>
		<array>
			<dict>
				<key>id</key>
				<string>160</string>
				<key>name</key>
				<string>联想</string>
			</dict>
			<dict>
				<key>id</key>
				<string>223</string>
				<key>name</key>
				<string>惠普</string>
			</dict>
			<dict>
				<key>id</key>
				<string>21</string>
				<key>name</key>
				<string>戴尔</string>
			</dict>
		</array>
		<key>name</key>
		<string>笔记本电脑</string>
		<key>proNum</key>
		<string>3696</string>
		<key>src</key>
		<string>http://icon.zol-img.com.cn/android/icons/cate/16.png</string>
		<key>subId</key>
		<string>16</string>
		<key>type</key>
		<string>subcate</string>
	</dict>
	<dict>
		<key>manuArr</key>
		<array>
			<dict>
				<key>id</key>
				<string>544</string>
				<key>name</key>
				<string>苹果</string>
			</dict>
			<dict>
				<key>id</key>
				<string>364</string>
				<key>name</key>
				<string>微软</string>
			</dict>
			<dict>
				<key>id</key>
				<string>98</string>
				<key>name</key>
				<string>三星</string>
			</dict>
		</array>
		<key>name</key>
		<string>平板电脑</string>
		<key>proNum</key>
		<string>549</string>
		<key>src</key>
		<string>http://icon.zol-img.com.cn/android/icons/cate/702.png</string>
		<key>subId</key>
		<string>702</string>
		<key>type</key>
		<string>subcate</string>
	</dict>
	<dict>
		<key>manuArr</key>
		<array>
			<dict>
				<key>id</key>
				<string>413</string>
				<key>name</key>
				<string>七彩虹</string>
			</dict>
			<dict>
				<key>id</key>
				<string>1238</string>
				<key>name</key>
				<string>影驰</string>
			</dict>
			<dict>
				<key>id</key>
				<string>32479</string>
				<key>name</key>
				<string>索泰</string>
			</dict>
		</array>
		<key>name</key>
		<string>显卡</string>
		<key>proNum</key>
		<string>1080</string>
		<key>src</key>
		<string>http://icon.zol-img.com.cn/android/icons/cate/6.png</string>
		<key>subId</key>
		<string>6</string>
		<key>type</key>
		<string>subcate</string>
	</dict>
	<dict>
		<key>name</key>
		<string>装机硬件</string>
		<key>src</key>
		<string>http://icon.zol-img.com.cn/android/icons/cate/1.png</string>
		<key>subArr</key>
		<array>
			<dict>
				<key>cateId</key>
				<string>1</string>
				<key>id</key>
				<string>5</string>
				<key>isCate</key>
				<string>0</string>
				<key>manuArr</key>
				<array>
					<dict>
						<key>id</key>
						<string>234</string>
						<key>name</key>
						<string>技嘉</string>
					</dict>
					<dict>
						<key>id</key>
						<string>227</string>
						<key>name</key>
						<string>华硕</string>
					</dict>
					<dict>
						<key>id</key>
						<string>133</string>
						<key>name</key>
						<string>MSI微星</string>
					</dict>
				</array>
				<key>name</key>
				<string>主板</string>
				<key>proNum</key>
				<string>888</string>
			</dict>
			<dict>
				<key>cateId</key>
				<string>1</string>
				<key>id</key>
				<string>28</string>
				<key>isCate</key>
				<string>0</string>
				<key>manuArr</key>
				<array>
					<dict>
						<key>id</key>
						<string>125</string>
						<key>name</key>
						<string>Intel</string>
					</dict>
					<dict>
						<key>id</key>
						<string>55</string>
						<key>name</key>
						<string>AMD</string>
					</dict>
					<dict>
						<key>id</key>
						<string>33286</string>
						<key>name</key>
						<string>金胜维</string>
					</dict>
				</array>
				<key>name</key>
				<string> CPU</string>
				<key>proNum</key>
				<string>316</string>
			</dict>
			<dict>
				<key>cateId</key>
				<string>1</string>
				<key>id</key>
				<string>10</string>
				<key>isCate</key>
				<string>0</string>
				<key>manuArr</key>
				<array>
					<dict>
						<key>id</key>
						<string>34279</string>
						<key>name</key>
						<string>游戏悍将</string>
					</dict>
					<dict>
						<key>id</key>
						<string>1000</string>
						<key>name</key>
						<string>航嘉</string>
					</dict>
					<dict>
						<key>id</key>
						<string>1858</string>
						<key>name</key>
						<string>鑫谷</string>
					</dict>
				</array>
				<key>name</key>
				<string>机箱</string>
				<key>proNum</key>
				<string>1508</string>
			</dict>
			<dict>
				<key>cateId</key>
				<string>1</string>
				<key>id</key>
				<string>35</string>
				<key>isCate</key>
				<string>0</string>
				<key>manuArr</key>
				<array>
					<dict>
						<key>id</key>
						<string>34279</string>
						<key>name</key>
						<string>游戏悍将</string>
					</dict>
					<dict>
						<key>id</key>
						<string>1000</string>
						<key>name</key>
						<string>航嘉</string>
					</dict>
					<dict>
						<key>id</key>
						<string>1858</string>
						<key>name</key>
						<string>鑫谷</string>
					</dict>
				</array>
				<key>name</key>
				<string>电源</string>
				<key>proNum</key>
				<string>1540</string>
			</dict>
			<dict>
				<key>cateId</key>
				<string>1</string>
				<key>id</key>
				<string>626</string>
				<key>isCate</key>
				<string>0</string>
				<key>manuArr</key>
				<array>
					<dict>
						<key>id</key>
						<string>98</string>
						<key>name</key>
						<string>三星</string>
					</dict>
					<dict>
						<key>id</key>
						<string>35011</string>
						<key>name</key>
						<string>英睿达</string>
					</dict>
					<dict>
						<key>id</key>
						<string>1428</string>
						<key>name</key>
						<string>闪迪</string>
					</dict>
				</array>
				<key>name</key>
				<string>固态硬盘</string>
				<key>proNum</key>
				<string>1262</string>
			</dict>
			<dict>
				<key>cateId</key>
				<string>1</string>
				<key>id</key>
				<string>2</string>
				<key>isCate</key>
				<string>0</string>
				<key>manuArr</key>
				<array>
					<dict>
						<key>id</key>
						<string>164</string>
						<key>name</key>
						<string>希捷</string>
					</dict>
					<dict>
						<key>id</key>
						<string>178</string>
						<key>name</key>
						<string>西部数据</string>
					</dict>
					<dict>
						<key>id</key>
						<string>209</string>
						<key>name</key>
						<string>东芝</string>
					</dict>
				</array>
				<key>name</key>
				<string>硬盘</string>
				<key>proNum</key>
				<string>175</string>
			</dict>
			<dict>
				<key>cateId</key>
				<string>1</string>
				<key>id</key>
				<string>3</string>
				<key>isCate</key>
				<string>0</string>
				<key>manuArr</key>
				<array>
					<dict>
						<key>id</key>
						<string>289</string>
						<key>name</key>
						<string>金邦科技</string>
					</dict>
					<dict>
						<key>id</key>
						<string>236</string>
						<key>name</key>
						<string>金士顿</string>
					</dict>
					<dict>
						<key>id</key>
						<string>34720</string>
						<key>name</key>
						<string>光威</string>
					</dict>
				</array>
				<key>name</key>
				<string>内存</string>
				<key>proNum</key>
				<string>727</string>
			</dict>
			<dict>
				<key>cateId</key>
				<string>1</string>
				<key>id</key>
				<string>67</string>
				<key>isCate</key>
				<string>0</string>
				<key>manuArr</key>
				<array>
					<dict>
						<key>id</key>
						<string>1601</string>
						<key>name</key>
						<string>超频三</string>
					</dict>
					<dict>
						<key>id</key>
						<string>370</string>
						<key>name</key>
						<string>九州风神</string>
					</dict>
					<dict>
						<key>id</key>
						<string>35199</string>
						<key>name</key>
						<string>ID-COOLING</string>
					</dict>
				</array>
				<key>name</key>
				<string>散热器</string>
				<key>proNum</key>
				<string>827</string>
			</dict>
			<dict>
				<key>cateId</key>
				<string>1</string>
				<key>id</key>
				<string>841</string>
				<key>isCate</key>
				<string>0</string>
				<key>manuArr</key>
				<array>
					<dict>
						<key>id</key>
						<string>35756</string>
						<key>name</key>
						<string>名龙堂</string>
					</dict>
					<dict>
						<key>id</key>
						<string>37360</string>
						<key>name</key>
						<string>京天华盛</string>
					</dict>
					<dict>
						<key>id</key>
						<string>35445</string>
						<key>name</key>
						<string>宁美国度</string>
					</dict>
				</array>
				<key>name</key>
				<string>DIY组装电脑</string>
				<key>proNum</key>
				<string>1933</string>
			</dict>
		</array>
		<key>subId</key>
		<string>1</string>
		<key>type</key>
		<string>cate</string>
	</dict>
	<dict>
		<key>name</key>
		<string>相机摄像机</string>
		<key>src</key>
		<string>http://icon.zol-img.com.cn/android/icons/cate/35.png</string>
		<key>subArr</key>
		<array>
			<dict>
				<key>cateId</key>
				<string>35</string>
				<key>id</key>
				<string>15</string>
				<key>isCate</key>
				<string>0</string>
				<key>manuArr</key>
				<array>
					<dict>
						<key>id</key>
						<string>232</string>
						<key>name</key>
						<string>佳能</string>
					</dict>
					<dict>
						<key>id</key>
						<string>657</string>
						<key>name</key>
						<string>尼康</string>
					</dict>
					<dict>
						<key>id</key>
						<string>167</string>
						<key>name</key>
						<string>索尼</string>
					</dict>
				</array>
				<key>name</key>
				<string>数码相机</string>
				<key>proNum</key>
				<string>804</string>
			</dict>
			<dict>
				<key>cateId</key>
				<string>35</string>
				<key>id</key>
				<string>268</string>
				<key>isCate</key>
				<string>0</string>
				<key>manuArr</key>
				<array>
					<dict>
						<key>id</key>
						<string>232</string>
						<key>name</key>
						<string>佳能</string>
					</dict>
					<dict>
						<key>id</key>
						<string>657</string>
						<key>name</key>
						<string>尼康</string>
					</dict>
					<dict>
						<key>id</key>
						<string>3534</string>
						<key>name</key>
						<string>腾龙</string>
					</dict>
				</array>
				<key>name</key>
				<string>镜头</string>
				<key>proNum</key>
				<string>804</string>
			</dict>
			<dict>
				<key>cateId</key>
				<string>35</string>
				<key>id</key>
				<string>81</string>
				<key>isCate</key>
				<string>0</string>
				<key>manuArr</key>
				<array>
					<dict>
						<key>id</key>
						<string>167</string>
						<key>name</key>
						<string>索尼</string>
					</dict>
					<dict>
						<key>id</key>
						<string>232</string>
						<key>name</key>
						<string>佳能</string>
					</dict>
					<dict>
						<key>id</key>
						<string>98</string>
						<key>name</key>
						<string>三星</string>
					</dict>
				</array>
				<key>name</key>
				<string>数码摄像机</string>
				<key>proNum</key>
				<string>327</string>
			</dict>
		</array>
		<key>subId</key>
		<string>35</string>
		<key>type</key>
		<string>cate</string>
	</dict>
	<dict>
		<key>name</key>
		<string>大家电</string>
		<key>src</key>
		<string>http://icon.zol-img.com.cn/android/icons/cate/42.png</string>
		<key>subArr</key>
		<array>
			<dict>
				<key>cateId</key>
				<string>42</string>
				<key>id</key>
				<string>314</string>
				<key>isCate</key>
				<string>0</string>
				<key>manuArr</key>
				<array>
					<dict>
						<key>id</key>
						<string>143</string>
						<key>name</key>
						<string>LG</string>
					</dict>
					<dict>
						<key>id</key>
						<string>98</string>
						<key>name</key>
						<string>三星</string>
					</dict>
					<dict>
						<key>id</key>
						<string>36419</string>
						<key>name</key>
						<string>酷开</string>
					</dict>
				</array>
				<key>name</key>
				<string>平板电视</string>
				<key>proNum</key>
				<string>2118</string>
			</dict>
			<dict>
				<key>cateId</key>
				<string>42</string>
				<key>id</key>
				<string>345</string>
				<key>isCate</key>
				<string>0</string>
				<key>manuArr</key>
				<array>
					<dict>
						<key>id</key>
						<string>1746</string>
						<key>name</key>
						<string>三菱重工</string>
					</dict>
					<dict>
						<key>id</key>
						<string>221</string>
						<key>name</key>
						<string>海尔</string>
					</dict>
					<dict>
						<key>id</key>
						<string>84</string>
						<key>name</key>
						<string>松下</string>
					</dict>
				</array>
				<key>name</key>
				<string>空调</string>
				<key>proNum</key>
				<string>1898</string>
			</dict>
			<dict>
				<key>cateId</key>
				<string>42</string>
				<key>id</key>
				<string>359</string>
				<key>isCate</key>
				<string>0</string>
				<key>manuArr</key>
				<array>
					<dict>
						<key>id</key>
						<string>221</string>
						<key>name</key>
						<string>海尔</string>
					</dict>
					<dict>
						<key>id</key>
						<string>98</string>
						<key>name</key>
						<string>三星</string>
					</dict>
					<dict>
						<key>id</key>
						<string>143</string>
						<key>name</key>
						<string>LG</string>
					</dict>
				</array>
				<key>name</key>
				<string>冰箱</string>
				<key>proNum</key>
				<string>1894</string>
			</dict>
			<dict>
				<key>cateId</key>
				<string>42</string>
				<key>id</key>
				<string>372</string>
				<key>isCate</key>
				<string>0</string>
				<key>manuArr</key>
				<array>
					<dict>
						<key>id</key>
						<string>221</string>
						<key>name</key>
						<string>海尔</string>
					</dict>
					<dict>
						<key>id</key>
						<string>98</string>
						<key>name</key>
						<string>三星</string>
					</dict>
					<dict>
						<key>id</key>
						<string>143</string>
						<key>name</key>
						<string>LG</string>
					</dict>
				</array>
				<key>name</key>
				<string>洗衣机</string>
				<key>proNum</key>
				<string>1241</string>
			</dict>
		</array>
		<key>subId</key>
		<string>42</string>
		<key>type</key>
		<string>cate</string>
	</dict>
	<dict>
		<key>manuArr</key>
		<array>
			<dict>
				<key>id</key>
				<string>160</string>
				<key>name</key>
				<string>联想</string>
			</dict>
			<dict>
				<key>id</key>
				<string>32108</string>
				<key>name</key>
				<string>ThinkPad</string>
			</dict>
			<dict>
				<key>id</key>
				<string>227</string>
				<key>name</key>
				<string>华硕</string>
			</dict>
		</array>
		<key>name</key>
		<string>超极本</string>
		<key>proNum</key>
		<string>555</string>
		<key>src</key>
		<string>http://icon.zol-img.com.cn/android/icons/cate/790.png</string>
		<key>subId</key>
		<string>790</string>
		<key>type</key>
		<string>subcate</string>
	</dict>
	<dict>
		<key>name</key>
		<string>数码产品</string>
		<key>src</key>
		<string>http://icon.zol-img.com.cn/android/icons/cate/10.png</string>
		<key>subArr</key>
		<array>
			<dict>
				<key>cateId</key>
				<string>10</string>
				<key>id</key>
				<string>223</string>
				<key>isCate</key>
				<string>0</string>
				<key>manuArr</key>
				<array>
					<dict>
						<key>id</key>
						<string>1252</string>
						<key>name</key>
						<string>硕美科</string>
					</dict>
					<dict>
						<key>id</key>
						<string>51090</string>
						<key>name</key>
						<string>魔磁</string>
					</dict>
					<dict>
						<key>id</key>
						<string>279</string>
						<key>name</key>
						<string>漫步者</string>
					</dict>
				</array>
				<key>name</key>
				<string>耳机</string>
				<key>proNum</key>
				<string>23663</string>
			</dict>
			<dict>
				<key>cateId</key>
				<string>10</string>
				<key>id</key>
				<string>19</string>
				<key>isCate</key>
				<string>0</string>
				<key>manuArr</key>
				<array>
					<dict>
						<key>id</key>
						<string>32862</string>
						<key>name</key>
						<string>原道</string>
					</dict>
					<dict>
						<key>id</key>
						<string>1050</string>
						<key>name</key>
						<string>蓝魔</string>
					</dict>
					<dict>
						<key>id</key>
						<string>2251</string>
						<key>name</key>
						<string>酷比魔方</string>
					</dict>
				</array>
				<key>name</key>
				<string> MP3</string>
				<key>proNum</key>
				<string>491</string>
			</dict>
			<dict>
				<key>cateId</key>
				<string>10</string>
				<key>id</key>
				<string>796</string>
				<key>isCate</key>
				<string>0</string>
				<key>manuArr</key>
				<array>
					<dict>
						<key>id</key>
						<string>35202</string>
						<key>name</key>
						<string>咔哟</string>
					</dict>
					<dict>
						<key>id</key>
						<string>34162</string>
						<key>name</key>
						<string>DOSS</string>
					</dict>
					<dict>
						<key>id</key>
						<string>34833</string>
						<key>name</key>
						<string>艾特铭客</string>
					</dict>
				</array>
				<key>name</key>
				<string>蓝牙音响</string>
				<key>proNum</key>
				<string>430</string>
			</dict>
			<dict>
				<key>cateId</key>
				<string>10</string>
				<key>id</key>
				<string>635</string>
				<key>isCate</key>
				<string>0</string>
				<key>manuArr</key>
				<array>
					<dict>
						<key>id</key>
						<string>33376</string>
						<key>name</key>
						<string>快易典</string>
					</dict>
					<dict>
						<key>id</key>
						<string>35166</string>
						<key>name</key>
						<string>步步高教育电子</string>
					</dict>
					<dict>
						<key>id</key>
						<string>33767</string>
						<key>name</key>
						<string>读书郎</string>
					</dict>
				</array>
				<key>name</key>
				<string>电子教育</string>
				<key>proNum</key>
				<string>1049</string>
			</dict>
			<dict>
				<key>cateId</key>
				<string>10</string>
				<key>id</key>
				<string>37</string>
				<key>isCate</key>
				<string>0</string>
				<key>manuArr</key>
				<array>
					<dict>
						<key>id</key>
						<string>1428</string>
						<key>name</key>
						<string>闪迪</string>
					</dict>
					<dict>
						<key>id</key>
						<string>209</string>
						<key>name</key>
						<string>东芝</string>
					</dict>
					<dict>
						<key>id</key>
						<string>3560</string>
						<key>name</key>
						<string>PNY</string>
					</dict>
				</array>
				<key>name</key>
				<string>U盘</string>
				<key>proNum</key>
				<string>4132</string>
			</dict>
		</array>
		<key>subId</key>
		<string>10</string>
		<key>type</key>
		<string>cate</string>
	</dict>
	<dict>
		<key>name</key>
		<string>硬件外设</string>
		<key>src</key>
		<string>http://icon.zol-img.com.cn/android/icons/cate/66.png</string>
		<key>subArr</key>
		<array>
			<dict>
				<key>cateId</key>
				<string>66</string>
				<key>id</key>
				<string>84</string>
				<key>isCate</key>
				<string>0</string>
				<key>manuArr</key>
				<array>
					<dict>
						<key>id</key>
						<string>98</string>
						<key>name</key>
						<string>三星</string>
					</dict>
					<dict>
						<key>id</key>
						<string>1828</string>
						<key>name</key>
						<string>HKC</string>
					</dict>
					<dict>
						<key>id</key>
						<string>143</string>
						<key>name</key>
						<string>LG</string>
					</dict>
				</array>
				<key>name</key>
				<string>液晶显示器</string>
				<key>proNum</key>
				<string>2184</string>
			</dict>
			<dict>
				<key>cateId</key>
				<string>66</string>
				<key>id</key>
				<string>32</string>
				<key>isCate</key>
				<string>0</string>
				<key>manuArr</key>
				<array>
					<dict>
						<key>id</key>
						<string>323</string>
						<key>name</key>
						<string>双飞燕</string>
					</dict>
					<dict>
						<key>id</key>
						<string>32149</string>
						<key>name</key>
						<string>雷柏</string>
					</dict>
					<dict>
						<key>id</key>
						<string>1051</string>
						<key>name</key>
						<string>海盗船</string>
					</dict>
				</array>
				<key>name</key>
				<string>鼠标</string>
				<key>proNum</key>
				<string>2831</string>
			</dict>
			<dict>
				<key>cateId</key>
				<string>66</string>
				<key>id</key>
				<string>34</string>
				<key>isCate</key>
				<string>0</string>
				<key>manuArr</key>
				<array>
					<dict>
						<key>id</key>
						<string>585</string>
						<key>name</key>
						<string>惠威</string>
					</dict>
					<dict>
						<key>id</key>
						<string>279</string>
						<key>name</key>
						<string>漫步者</string>
					</dict>
					<dict>
						<key>id</key>
						<string>159</string>
						<key>name</key>
						<string>飞利浦</string>
					</dict>
				</array>
				<key>name</key>
				<string>音箱</string>
				<key>proNum</key>
				<string>7016</string>
			</dict>
			<dict>
				<key>cateId</key>
				<string>66</string>
				<key>id</key>
				<string>33</string>
				<key>isCate</key>
				<string>0</string>
				<key>manuArr</key>
				<array>
					<dict>
						<key>id</key>
						<string>323</string>
						<key>name</key>
						<string>双飞燕</string>
					</dict>
					<dict>
						<key>id</key>
						<string>32149</string>
						<key>name</key>
						<string>雷柏</string>
					</dict>
					<dict>
						<key>id</key>
						<string>1051</string>
						<key>name</key>
						<string>海盗船</string>
					</dict>
				</array>
				<key>name</key>
				<string>键盘</string>
				<key>proNum</key>
				<string>2522</string>
			</dict>
			<dict>
				<key>cateId</key>
				<string>66</string>
				<key>id</key>
				<string>100</string>
				<key>isCate</key>
				<string>0</string>
				<key>manuArr</key>
				<array>
					<dict>
						<key>id</key>
						<string>323</string>
						<key>name</key>
						<string>双飞燕</string>
					</dict>
					<dict>
						<key>id</key>
						<string>32149</string>
						<key>name</key>
						<string>雷柏</string>
					</dict>
					<dict>
						<key>id</key>
						<string>34825</string>
						<key>name</key>
						<string>血手幽灵</string>
					</dict>
				</array>
				<key>name</key>
				<string>键鼠套装</string>
				<key>proNum</key>
				<string>618</string>
			</dict>
		</array>
		<key>subId</key>
		<string>66</string>
		<key>type</key>
		<string>cate</string>
	</dict>
	<dict>
		<key>manuArr</key>
		<array>
			<dict>
				<key>id</key>
				<string>160</string>
				<key>name</key>
				<string>联想</string>
			</dict>
			<dict>
				<key>id</key>
				<string>227</string>
				<key>name</key>
				<string>华硕</string>
			</dict>
			<dict>
				<key>id</key>
				<string>21</string>
				<key>name</key>
				<string>戴尔</string>
			</dict>
		</array>
		<key>name</key>
		<string>台式电脑</string>
		<key>proNum</key>
		<string>1890</string>
		<key>src</key>
		<string>http://icon.zol-img.com.cn/android/icons/cate/27.png</string>
		<key>subId</key>
		<string>27</string>
		<key>type</key>
		<string>subcate</string>
	</dict>
	<dict>
		<key>manuArr</key>
		<array>
			<dict>
				<key>id</key>
				<string>544</string>
				<key>name</key>
				<string>苹果</string>
			</dict>
			<dict>
				<key>id</key>
				<string>98</string>
				<key>name</key>
				<string>三星</string>
			</dict>
			<dict>
				<key>id</key>
				<string>613</string>
				<key>name</key>
				<string>华为</string>
			</dict>
		</array>
		<key>name</key>
		<string>智能手表</string>
		<key>proNum</key>
		<string>6128</string>
		<key>src</key>
		<string>http://icon.zol-img.com.cn/android/icons/cate/827.png</string>
		<key>subId</key>
		<string>827</string>
		<key>type</key>
		<string>subcate</string>
	</dict>
	<dict>
		<key>manuArr</key>
		<array>
			<dict>
				<key>id</key>
				<string>34933</string>
				<key>name</key>
				<string>品能</string>
			</dict>
			<dict>
				<key>id</key>
				<string>32586</string>
				<key>name</key>
				<string>佳的美</string>
			</dict>
			<dict>
				<key>id</key>
				<string>34122</string>
				<key>name</key>
				<string>摩米士</string>
			</dict>
		</array>
		<key>name</key>
		<string>移动电源</string>
		<key>proNum</key>
		<string>4123</string>
		<key>src</key>
		<string>http://icon.zol-img.com.cn/android/icons/cate/688.png</string>
		<key>subId</key>
		<string>688</string>
		<key>type</key>
		<string>subcate</string>
	</dict>
	<dict>
		<key>manuArr</key>
		<array>
			<dict>
				<key>id</key>
				<string>160</string>
				<key>name</key>
				<string>联想</string>
			</dict>
			<dict>
				<key>id</key>
				<string>21</string>
				<key>name</key>
				<string>戴尔</string>
			</dict>
			<dict>
				<key>id</key>
				<string>544</string>
				<key>name</key>
				<string>苹果</string>
			</dict>
		</array>
		<key>name</key>
		<string>一体电脑</string>
		<key>proNum</key>
		<string>812</string>
		<key>src</key>
		<string>http://icon.zol-img.com.cn/android/icons/cate/641.png</string>
		<key>subId</key>
		<string>641</string>
		<key>type</key>
		<string>subcate</string>
	</dict>
	<dict>
		<key>name</key>
		<string>厨卫电器</string>
		<key>src</key>
		<string>http://icon.zol-img.com.cn/android/icons/cate/52.png</string>
		<key>subArr</key>
		<array>
			<dict>
				<key>cateId</key>
				<string>52</string>
				<key>id</key>
				<string>409</string>
				<key>isCate</key>
				<string>0</string>
				<key>manuArr</key>
				<array>
					<dict>
						<key>id</key>
						<string>13422</string>
						<key>name</key>
						<string>老板</string>
					</dict>
					<dict>
						<key>id</key>
						<string>13420</string>
						<key>name</key>
						<string>方太</string>
					</dict>
					<dict>
						<key>id</key>
						<string>13428</string>
						<key>name</key>
						<string>万和</string>
					</dict>
				</array>
				<key>name</key>
				<string>抽油烟机</string>
				<key>proNum</key>
				<string>243</string>
			</dict>
			<dict>
				<key>cateId</key>
				<string>52</string>
				<key>id</key>
				<string>413</string>
				<key>isCate</key>
				<string>0</string>
				<key>manuArr</key>
				<array>
					<dict>
						<key>id</key>
						<string>13424</string>
						<key>name</key>
						<string>A.O.史密斯</string>
					</dict>
					<dict>
						<key>id</key>
						<string>221</string>
						<key>name</key>
						<string>海尔</string>
					</dict>
					<dict>
						<key>id</key>
						<string>1743</string>
						<key>name</key>
						<string>美的</string>
					</dict>
				</array>
				<key>name</key>
				<string>电热水器</string>
				<key>proNum</key>
				<string>1467</string>
			</dict>
			<dict>
				<key>cateId</key>
				<string>52</string>
				<key>id</key>
				<string>424</string>
				<key>isCate</key>
				<string>0</string>
				<key>manuArr</key>
				<array>
					<dict>
						<key>id</key>
						<string>13434</string>
						<key>name</key>
						<string>华帝</string>
					</dict>
					<dict>
						<key>id</key>
						<string>13420</string>
						<key>name</key>
						<string>方太</string>
					</dict>
					<dict>
						<key>id</key>
						<string>13422</string>
						<key>name</key>
						<string>老板</string>
					</dict>
				</array>
				<key>name</key>
				<string>燃气灶</string>
				<key>proNum</key>
				<string>2921</string>
			</dict>
		</array>
		<key>subId</key>
		<string>52</string>
		<key>type</key>
		<string>cate</string>
	</dict>
	<dict>
		<key>manuArr</key>
		<array>
			<dict>
				<key>id</key>
				<string>33540</string>
				<key>name</key>
				<string>斐讯</string>
			</dict>
			<dict>
				<key>id</key>
				<string>1755</string>
				<key>name</key>
				<string>艾泰</string>
			</dict>
			<dict>
				<key>id</key>
				<string>2017</string>
				<key>name</key>
				<string>腾达</string>
			</dict>
		</array>
		<key>name</key>
		<string>无线路由器</string>
		<key>proNum</key>
		<string>874</string>
		<key>src</key>
		<string>http://icon.zol-img.com.cn/android/icons/cate/227.png</string>
		<key>subId</key>
		<string>227</string>
		<key>type</key>
		<string>subcate</string>
	</dict>
	<dict>
		<key>manuArr</key>
		<array>
			<dict>
				<key>id</key>
				<string>407</string>
				<key>name</key>
				<string>明基</string>
			</dict>
			<dict>
				<key>id</key>
				<string>37407</string>
				<key>name</key>
				<string>小帅影院</string>
			</dict>
			<dict>
				<key>id</key>
				<string>151</string>
				<key>name</key>
				<string>NEC</string>
			</dict>
		</array>
		<key>name</key>
		<string>投影机</string>
		<key>proNum</key>
		<string>4371</string>
		<key>src</key>
		<string>http://icon.zol-img.com.cn/android/icons/cate/14.png</string>
		<key>subId</key>
		<string>14</string>
		<key>type</key>
		<string>subcate</string>
	</dict>
	<dict>
		<key>manuArr</key>
		<array>
			<dict>
				<key>id</key>
				<string>167</string>
				<key>name</key>
				<string>索尼</string>
			</dict>
			<dict>
				<key>id</key>
				<string>364</string>
				<key>name</key>
				<string>微软</string>
			</dict>
			<dict>
				<key>id</key>
				<string>3845</string>
				<key>name</key>
				<string>任天堂</string>
			</dict>
		</array>
		<key>name</key>
		<string>游戏机</string>
		<key>proNum</key>
		<string>213</string>
		<key>src</key>
		<string>http://icon.zol-img.com.cn/android/icons/cate/590.png</string>
		<key>subId</key>
		<string>590</string>
		<key>type</key>
		<string>subcate</string>
	</dict>
	<dict>
		<key>manuArr</key>
		<array>
			<dict>
				<key>id</key>
				<string>33189</string>
				<key>name</key>
				<string>博朗</string>
			</dict>
			<dict>
				<key>id</key>
				<string>37392</string>
				<key>name</key>
				<string>吉列</string>
			</dict>
			<dict>
				<key>id</key>
				<string>159</string>
				<key>name</key>
				<string>飞利浦</string>
			</dict>
		</array>
		<key>name</key>
		<string>剃须刀</string>
		<key>proNum</key>
		<string>560</string>
		<key>src</key>
		<string>http://icon.zol-img.com.cn/android/icons/cate/432.png</string>
		<key>subId</key>
		<string>432</string>
		<key>type</key>
		<string>subcate</string>
	</dict>
	<dict>
		<key>manuArr</key>
		<array>
			<dict>
				<key>id</key>
				<string>613</string>
				<key>name</key>
				<string>华为</string>
			</dict>
			<dict>
				<key>id</key>
				<string>34645</string>
				<key>name</key>
				<string>小米</string>
			</dict>
			<dict>
				<key>id</key>
				<string>50840</string>
				<key>name</key>
				<string>荣耀</string>
			</dict>
		</array>
		<key>name</key>
		<string>智能手环</string>
		<key>proNum</key>
		<string>1922</string>
		<key>src</key>
		<string>http://icon.zol-img.com.cn/android/icons/cate/829.png</string>
		<key>subId</key>
		<string>829</string>
		<key>type</key>
		<string>subcate</string>
	</dict>
	<dict>
		<key>manuArr</key>
		<array>
			<dict>
				<key>id</key>
				<string>167</string>
				<key>name</key>
				<string>索尼</string>
			</dict>
			<dict>
				<key>id</key>
				<string>3845</string>
				<key>name</key>
				<string>任天堂</string>
			</dict>
			<dict>
				<key>id</key>
				<string>1474</string>
				<key>name</key>
				<string>NVIDIA</string>
			</dict>
		</array>
		<key>name</key>
		<string>掌上游戏机</string>
		<key>proNum</key>
		<string>31</string>
		<key>src</key>
		<string>http://icon.zol-img.com.cn/android/icons/cate/591.png</string>
		<key>subId</key>
		<string>591</string>
		<key>type</key>
		<string>subcate</string>
	</dict>
	<dict>
		<key>manuArr</key>
		<array>
			<dict>
				<key>id</key>
				<string>37272</string>
				<key>name</key>
				<string>极路客</string>
			</dict>
			<dict>
				<key>id</key>
				<string>35350</string>
				<key>name</key>
				<string>360</string>
			</dict>
			<dict>
				<key>id</key>
				<string>36423</string>
				<key>name</key>
				<string>凌度</string>
			</dict>
		</array>
		<key>name</key>
		<string>行车记录仪</string>
		<key>proNum</key>
		<string>13200</string>
		<key>src</key>
		<string>http://icon.zol-img.com.cn/android/icons/cate/804.png</string>
		<key>subId</key>
		<string>804</string>
		<key>type</key>
		<string>subcate</string>
	</dict>
	<dict>
		<key>manuArr</key>
		<array>
			<dict>
				<key>id</key>
				<string>1591</string>
				<key>name</key>
				<string>创维</string>
			</dict>
			<dict>
				<key>id</key>
				<string>33562</string>
				<key>name</key>
				<string>海美迪</string>
			</dict>
			<dict>
				<key>id</key>
				<string>35012</string>
				<key>name</key>
				<string>影驰</string>
			</dict>
		</array>
		<key>name</key>
		<string>电视播放机</string>
		<key>proNum</key>
		<string>396</string>
		<key>src</key>
		<string>http://icon.zol-img.com.cn/android/icons/cate/636.png</string>
		<key>subId</key>
		<string>636</string>
		<key>type</key>
		<string>subcate</string>
	</dict>
	<dict>
		<key>name</key>
		<string>办公打印</string>
		<key>src</key>
		<string>http://icon.zol-img.com.cn/android/icons/cate/3.png</string>
		<key>subArr</key>
		<array>
			<dict>
				<key>cateId</key>
				<string>3</string>
				<key>id</key>
				<string>101</string>
				<key>isCate</key>
				<string>0</string>
				<key>manuArr</key>
				<array>
					<dict>
						<key>id</key>
						<string>223</string>
						<key>name</key>
						<string>惠普</string>
					</dict>
					<dict>
						<key>id</key>
						<string>232</string>
						<key>name</key>
						<string>佳能</string>
					</dict>
					<dict>
						<key>id</key>
						<string>94</string>
						<key>name</key>
						<string>爱普生</string>
					</dict>
				</array>
				<key>name</key>
				<string>多功能一体机</string>
				<key>proNum</key>
				<string>559</string>
			</dict>
			<dict>
				<key>cateId</key>
				<string>3</string>
				<key>id</key>
				<string>792</string>
				<key>isCate</key>
				<string>0</string>
				<key>manuArr</key>
				<array>
					<dict>
						<key>id</key>
						<string>223</string>
						<key>name</key>
						<string>惠普</string>
					</dict>
					<dict>
						<key>id</key>
						<string>232</string>
						<key>name</key>
						<string>佳能</string>
					</dict>
					<dict>
						<key>id</key>
						<string>459</string>
						<key>name</key>
						<string>兄弟</string>
					</dict>
				</array>
				<key>name</key>
				<string>打印机</string>
				<key>proNum</key>
				<string>407</string>
			</dict>
			<dict>
				<key>cateId</key>
				<string>3</string>
				<key>id</key>
				<string>12</string>
				<key>isCate</key>
				<string>0</string>
				<key>manuArr</key>
				<array>
					<dict>
						<key>id</key>
						<string>232</string>
						<key>name</key>
						<string>佳能</string>
					</dict>
					<dict>
						<key>id</key>
						<string>283</string>
						<key>name</key>
						<string>富士通</string>
					</dict>
					<dict>
						<key>id</key>
						<string>223</string>
						<key>name</key>
						<string>惠普</string>
					</dict>
				</array>
				<key>name</key>
				<string>扫描仪</string>
				<key>proNum</key>
				<string>1679</string>
			</dict>
			<dict>
				<key>cateId</key>
				<string>3</string>
				<key>id</key>
				<string>211</string>
				<key>isCate</key>
				<string>0</string>
				<key>manuArr</key>
				<array>
					<dict>
						<key>id</key>
						<string>34399</string>
						<key>name</key>
						<string>CimFAX</string>
					</dict>
					<dict>
						<key>id</key>
						<string>84</string>
						<key>name</key>
						<string>松下</string>
					</dict>
					<dict>
						<key>id</key>
						<string>459</string>
						<key>name</key>
						<string>兄弟</string>
					</dict>
				</array>
				<key>name</key>
				<string>传真机</string>
				<key>proNum</key>
				<string>147</string>
			</dict>
			<dict>
				<key>cateId</key>
				<string>3</string>
				<key>id</key>
				<string>212</string>
				<key>isCate</key>
				<string>0</string>
				<key>manuArr</key>
				<array>
					<dict>
						<key>id</key>
						<string>354</string>
						<key>name</key>
						<string>富士施乐</string>
					</dict>
					<dict>
						<key>id</key>
						<string>634</string>
						<key>name</key>
						<string>柯尼卡美能达</string>
					</dict>
					<dict>
						<key>id</key>
						<string>301</string>
						<key>name</key>
						<string>理光</string>
					</dict>
				</array>
				<key>name</key>
				<string>复印机</string>
				<key>proNum</key>
				<string>578</string>
			</dict>
			<dict>
				<key>cateId</key>
				<string>17</string>
				<key>id</key>
				<string>14</string>
				<key>isCate</key>
				<string>0</string>
				<key>manuArr</key>
				<array>
					<dict>
						<key>id</key>
						<string>407</string>
						<key>name</key>
						<string>明基</string>
					</dict>
					<dict>
						<key>id</key>
						<string>37407</string>
						<key>name</key>
						<string>小帅影院</string>
					</dict>
					<dict>
						<key>id</key>
						<string>151</string>
						<key>name</key>
						<string>NEC</string>
					</dict>
				</array>
				<key>name</key>
				<string>投影机</string>
				<key>proNum</key>
				<string>4371</string>
			</dict>
		</array>
		<key>subId</key>
		<string>3</string>
		<key>type</key>
		<string>cate</string>
	</dict>
	<dict>
		<key>name</key>
		<string>企业产品</string>
		<key>src</key>
		<string>http://icon.zol-img.com.cn/android/icons/cate/enterprise.png</string>
		<key>subArr</key>
		<array>
			<dict>
				<key>cateId</key>
				<string>51</string>
				<key>id</key>
				<string>31</string>
				<key>isCate</key>
				<string>0</string>
				<key>manuArr</key>
				<array>
					<dict>
						<key>id</key>
						<string>34895</string>
						<key>name</key>
						<string>ThinkServer</string>
					</dict>
					<dict>
						<key>id</key>
						<string>20</string>
						<key>name</key>
						<string>浪潮</string>
					</dict>
					<dict>
						<key>id</key>
						<string>33868</string>
						<key>name</key>
						<string>杰和</string>
					</dict>
				</array>
				<key>name</key>
				<string>服务器</string>
				<key>proNum</key>
				<string>1895</string>
			</dict>
			<dict>
				<key>cateId</key>
				<string>51</string>
				<key>id</key>
				<string>46</string>
				<key>isCate</key>
				<string>0</string>
				<key>manuArr</key>
				<array>
					<dict>
						<key>id</key>
						<string>613</string>
						<key>name</key>
						<string>华为</string>
					</dict>
					<dict>
						<key>id</key>
						<string>1605</string>
						<key>name</key>
						<string>锐捷网络</string>
					</dict>
					<dict>
						<key>id</key>
						<string>642</string>
						<key>name</key>
						<string>中兴</string>
					</dict>
				</array>
				<key>name</key>
				<string>交换机</string>
				<key>proNum</key>
				<string>1511</string>
			</dict>
			<dict>
				<key>cateId</key>
				<string>51</string>
				<key>id</key>
				<string>44</string>
				<key>isCate</key>
				<string>0</string>
				<key>manuArr</key>
				<array>
					<dict>
						<key>id</key>
						<string>613</string>
						<key>name</key>
						<string>华为</string>
					</dict>
					<dict>
						<key>id</key>
						<string>1605</string>
						<key>name</key>
						<string>锐捷网络</string>
					</dict>
					<dict>
						<key>id</key>
						<string>642</string>
						<key>name</key>
						<string>中兴</string>
					</dict>
				</array>
				<key>name</key>
				<string>路由器</string>
				<key>proNum</key>
				<string>495</string>
			</dict>
			<dict>
				<key>cateId</key>
				<string>51</string>
				<key>id</key>
				<string>294</string>
				<key>isCate</key>
				<string>0</string>
				<key>manuArr</key>
				<array>
					<dict>
						<key>id</key>
						<string>613</string>
						<key>name</key>
						<string>华为</string>
					</dict>
					<dict>
						<key>id</key>
						<string>316</string>
						<key>name</key>
						<string>思科</string>
					</dict>
					<dict>
						<key>id</key>
						<string>1818</string>
						<key>name</key>
						<string>H3C</string>
					</dict>
				</array>
				<key>name</key>
				<string>防火墙</string>
				<key>proNum</key>
				<string>450</string>
			</dict>
			<dict>
				<key>cateId</key>
				<string>51</string>
				<key>id</key>
				<string>375</string>
				<key>isCate</key>
				<string>0</string>
				<key>manuArr</key>
				<array>
					<dict>
						<key>id</key>
						<string>178</string>
						<key>name</key>
						<string>西部数据</string>
					</dict>
					<dict>
						<key>id</key>
						<string>32389</string>
						<key>name</key>
						<string>威联通</string>
					</dict>
					<dict>
						<key>id</key>
						<string>1459</string>
						<key>name</key>
						<string>巴法络</string>
					</dict>
				</array>
				<key>name</key>
				<string>NAS网络存储</string>
				<key>proNum</key>
				<string>535</string>
			</dict>
		</array>
		<key>subId</key>
		<string>51</string>
		<key>type</key>
		<string>cate</string>
	</dict>
</array>
</plist>
